:root {
  --theme: #171717;
  --gallery-grid-gap: 16px;
  --flanker-color: #ffc531;
}

body {
  background-color: var(--theme);
  color: white;
}

.containers-parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-theme {
  padding: 0px;
  margin: 0px;
  height: 300px;
  background-image: url("../src/app/img/theme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.container {
  margin: 0 auto;
  padding: 0px 16px;
  max-width: 1280px;
}
.container-margin-top {
  margin-top: 56px;
}


.navbar-brand-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.navbar-icon {
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  height: min-content;
  width: min-content;
}


.footer-society {

}
.footer-society .bi {
 font-size: 24px;
 color:white;
 transition-property: color;
 transition-duration: 0.25s;
}
.footer-society .bi-vk {
  fill: white !important;
  transition-property: fill;
  transition-duration: 0.25s;
  width: 26px;
  height: 26px;
}
.footer-society .bi:hover {
  transition-property: color;
  transition-duration: 0.25s;
}
.footer-society .bi-youtube:hover {
  color:red;

}
.footer-society .bi-discord:hover {
  color: #5865f2;
}
.footer-society .bi-vk:hover {
  fill: #0077ff !important;
  transition-property: fill;
  transition-duration: 0.25s;
}


.download-icon {
  margin: 0px 8px;
  height: 24px;
}


.faq p {
  color: lightgrey;
  word-wrap: break-word;
}


.patchnotes ul {
  list-style-type: none;
}
.patchnotes-list {
  width: max-content;
}


.patchnote {
  list-style-type: initial !important;
}
.patchnote li {
  color: lightgrey;
}


.artist-icon {
  border-radius: 50%;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - (16px * 3)) / 4));
  grid-gap: 16px 16px;
}
.gallery-grid-mobile {
  grid-template-columns: repeat(2, calc((100% - (16px * 1)) / 2));
}
.gallery-thumbnail-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.gallery-thumbnail-anchor {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.gallery-thumbnail {
  max-width: 100%;
  max-height: 100%;
}
.gallery-selected {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: rgba(255,255,255,0);
  transition-property: background-color color;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
}
.gallery-selected:hover {
  color: rgba(255,255,255,255);
  background-color: rgba(0,0,0,0.25);
}
.gallery-artist-icon {
  height: 48px;
  width: 48px;
  filter: opacity(0.0);
  transition-property: filter;
  transition-duration: 0.5s;
}
.gallery-selected:hover .gallery-artist-icon {
  filter: opacity(1)
}
.gallery-dropdown-icon {
  height: 32px;
  width: 32px;
}


.dropdown .btn-secondary {
  border-color: lightgrey;
}
.dropdown-menu .dropdown-item {
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
}


.artwork-side {
  width: 230px;
}
.artwork-artist-icon {
  height: 64px;
  width: 64px;
}
.artwork-image {
  max-width: 100%;
  height: auto;
}
.artwork-description {
  white-space: pre-line;
  word-wrap: break-word;
}
.artwork-description a {
  word-wrap: break-word;
}
.artwork-shortcuts div {
  color: lightgrey;
}
.artwork-shortcuts i {
  color: white;
}
.artwork-shortcuts-esc {
  color: white !important;
}
.artwork-arrows {
  cursor: pointer;
  position: absolute;
  font-size: 48px;
  color:lightgrey
}
.artwork-arrows i:hover {
  color: white
}


.installation-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.screenshots-grid {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - (4px * 3)) / 4));
  grid-gap: 4px 4px;
}
.screenshots-grid-mobile {
  grid-template-columns: repeat(2, calc((100% - (4px * 1)) / 2));
}
.screenshots-grid-image {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.screenshots-grid-open-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1040;
}
.screenshots-grid-open-container {
  max-width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.screenshots-grid-open-image {
  max-width: 100%;
  height: auto;
}
.screenshots-grid-open-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
}
.screenshots-grid-open-arrow-button {
  position: absolute;
}
.screenshots-grid-open-arrow-button i {
 font-size: 32px;
 color: lightgrey;
 cursor: pointer;
}
.screenshots-grid-open-arrow-button i:hover {
  color: white
}
.screenshots-grid-carousel {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.screenshots-grid-carousel-circles {
  width: 12px;
  height: 12px;
  background-color: grey;
  border-radius: 50%;
  margin: 0px 4px;
}
.screenshots-grid-carousel-circles-selected {
  background-color: white;
}
